[Unit]
Description=My Miscellaneous Service
After=network.target

[Service]
Type=simple
User=christian
WorkingDirectory=/home/christian
ExecStart=/usr/local/bin/dcled --cycle --lat 52.0833 --lon 8.7667
Restart=always

[Install]
WantedBy=multi-user.target
